#wincontainer {
    background-color: goldenrod;
    height: 100vh;
    width: 100vw;
    padding: 1%;
    position: absolute;
    overflow: hidden;
}

#login {
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#label, #password, #submit {
  font-size: 2em;
}

#submit {
  margin-top: 1em;
}

#wrong {
  position: absolute;
  width: 100vw;
  display: none;
  pointer-events: none;
}

#title {
    font-size: 10em;
    font-style: italic;
    font-weight: bolder;
    color: blue;
    position: relative;
}

#youwon {
    font-size: 30em;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    color: blue;
    position: absolute;
    pointer-events: none;
}

.songcontainer {
    display: flex;
}

#videocontainer {
    position: absolute;
    right: 0px;
    bottom: 20vh;
}

#laurel {
  position: absolute;
  bottom: -12px;
  right: -96px;
  height: 80%;
  width: 170%;
}

#livestream {
  color: red;
}

.rain {
    position: absolute;
}

.fall {
    animation: faller 10s linear infinite;
  }
  
  @keyframes faller {
    100% {transform:translateY(5000%);}
  }

.blink {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {opacity: 0;}
  }

  .slowblink {
    animation: slowblinker 5s linear infinite;
  }
  
  @keyframes slowblinker {
    0% {opacity: 0;}
    50% {opacity: 30%;}
    100% {opacity: 0;}
  }

.blinkbounce {
    animation: bouncer 2s linear infinite;
  }
  
  @keyframes bouncer {
    25% {opacity: 0;}
    50% {opacity: 1; transform:translateX(10%); }
    75% {opacity: 0;}
  }

.shakewildly {
    animation: shaker 300ms linear;
  }

  @keyframes shaker {
      10% {transform: translate3d(-100px, 0px, 0);}
      20% {transform: translate3d(-500px, 100px, 0);}
      30% {transform: translate3d(200px, 0px, 0);}
      40% {transform: translate3d(300px, 100px, 0);}
      50% {transform: translate3d(-200px, 0px, 0);}
      60% {transform: translate3d(-100px, 100px, 0);}
      70% {transform: translate3d(400px, 0px, 0);}
      80% {transform: translate3d(-300px, 100px, 0);}
      90% {transform: translate3d(200px, 0px, 0);}
      100% {transform: translate3d(0, 0, 0);}
  }


body {
    padding: 0;
    margin: 0;
}